* {
  margin: 0;
  padding: 0;
}

.app {
  width: 100vw;
  height: 100vh;
  align-items: center;
  display: flex;
  justify-content: center;
}

.board {
  width: calc(64px*8);
  height: calc(64px*8);
  display: flex;
  flex-wrap: wrap;

}

.cell {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell img {
  width: 48px;
  height: 48px;
  position: relative;
}

.black {
  background-color: rgb(124 120 93);
}

.white {
  background-color: rgb(255 229 168);
}

.selected {
    background-color: brown;
}